@charset "utf-8";
:root {
    /* color setting */
    
    /* font setting */


    /* margin setting */

}
.clearfix {
    display: block;
    clear: both;
}
.section {
    position: relative;
    line-height: 1.4;
}
.inner {
    position: inherit;
    width: 1280px;
    margin: 0 auto;
}

/* flex */
.flex {
    display: flex;
}
.flex__center {
    display: flex;
    justify-content: center;
}
.flex__start {
    display: flex;
    justify-content: flex-start;
}
.flex__col {
    display: flex;
    flex-direction: column;
}
.flex__wrap {
    display: flex;
    flex-wrap: wrap;
}

/* shopping news active */
.top {
    top: 120px;
}
.fixed {
    position: fixed;
    top: 0;
    left: 430px;
}
.bottom {
    top: calc(100% - 990px);
}