@charset "utf-8";
.clearfix {
    display: block;
    clear: both;
}
.section {
    position: relative;
    line-height: 1.4;
}
.inner {
    position: inherit;
    width: 1280px;
    margin: 0 auto;
}
.top {
    top: 120px;
}
.fixed {
    position: fixed;
    top: 0;
}
.bottom {
    top: calc(100% - 990px);
}