@charset "utf-8";
@import url(./reset.css);
@import url(./common.css);

/* header */
.header {
    width: 984px;
    margin: 0 auto;
    padding: 36px 0 0 0;
}
.header__frame {
    position: relative;
    z-index: 20;
    background: #fff;
    /* var(--wht-color); */
    
    border-bottom: 1px solid #ccc;
}
.header__top {
    margin: 0 auto;
    text-align: center;
}
.header__menu {
}
.header__menu--search {
    display: block;
    position: relative;
    width: 21px;
    height: 21px;
}
.header__menu--search > span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    background: url(../img/icon/header_util.png) no-repeat -5px -5px;
}
.header__menu--service {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    font-size: 14px;
}
.header__menu--service > a {
    margin-right: 20px;
}
.header__menu--language > a {
    text-decoration: underline dotted;
}
.language__select {
    /* content: ''; */
    /* display: block; */
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -24px;
    width: 24px;
    height: 24px;
    background: url(../img/icon/header_util.png) no-repeat 0 -24px;
}

/* gnb */
.gnb__frame {
    font-size: 18px;
    position: relative;
}
.gnb {

}
.gnb__item {
    float: left;
}
.gnb__item--name {
    /* border: 1px solid #000; */
    position: relative;
    height: 72px;
    letter-spacing: -0.1em;
    white-space: nowrap;
}

/* lnb */
.lnb__frame {
    display: none;
    position: absolute;
    z-index: 30;
    top: 72px;
    left: 1000px;
    right: 1000px;
    overflow: hidden;
    padding: 0 0 24px 0;
    min-height: 216px;
    transition: all 0.8s;
}
.lnb {
}
.lnb__item {
    float: left;
    position: relative;
    border: 1px solid #000;
    margin-top: 24px;
    min-width: 140px;
}
.lnb__item--title {
}
.lnb__item--title > span {
    float: left;
    position: relative;
    display: block;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    /* border: 1px solid #000; */
}
.subnav__frame {
    position: relative;
}
.subnav__item {
    width: 100px;
    font-size: 14px;
    position: absolute;
}
.subnav__frame > li:nth-child(1) {
    top: 0;
}
.subnav__frame > li:nth-child(2) {
    top: 22px;
}
.subnav__frame > li:nth-child(3) {
    top: 44px;
}
.subnav__frame > li:nth-child(4) {
    top: 66px;
}
.subnav__frame > li:nth-child(5) {
    top: 88px;
}
.subnav__frame > li:nth-child(6),
.subnav__frame > li:nth-child(7),
.subnav__frame > li:nth-child(8),
.subnav__frame > li:nth-child(9),
.subnav__frame > li:nth-child(10) {
    left: 100px;
}
/* 더 나은 방법 idea check flex? gnb skip to last */



/* arrow top btn */
.arrow__top {
    position: fixed;
    z-index: 30;
    right: 20px;
    bottom: 20px;
    opacity: 1;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.arrow__top > a {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    background-image: url(../img/icon/bg_panels.png);
    background-repeat: no-repeat;
    background-position: 0 -96px;
}




/* contents */
.contents__container {
}
/* main section - start */
.main {

}
.main__img {
    background :#afc8e9 url(../img/main/happy.jpg) 50% 0 no-repeat;
    position: relative;
    left: 50%;
    width: 2600px;
    height: 600px;
    margin-left: -1300px;
    text-align: center;
}
.main__img > a {
    position: absolute;
    bottom: 53px;
    left: 50%;
    width: 125px;
    height: 18px;
    margin-left: 363px;
}
.main__img > a > span {
    opacity: 0;
}
/* news section - start */
.news {
    z-index: 10;
}
.news__inner {
    position: relative;
    min-height: 1162px;
    padding-top: 120px;
    /* common padding */
}
.left__magazine {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 20;
}
.right__news {
    margin-left: 430px;
    width: 850px;
}
.news__title {
    position: absolute;
    top: 120px;
    left: 430px;
    width: 100%;
    padding-bottom: 38px;
    color: #fff;
    text-align: left;
    z-index: 20;
}
.news__list {
    /* margin-left: -40px; */
    font-size: 0;
    margin-top: 293px;
    /* margin-top: 93px; */
    /* 원본 */
}
.news__list > a {
    position: relative;
}
.news__item {
    display: inline-block;
    position: relative;
    width: calc((100% - 40px) / 3);
    margin-left: 20px;
    transition: transform .6s;
}
.news__item:nth-child(3n + 1) {
    margin-left: 0;
}
.news__item:not(:nth-child(3n - 1)) {
    transform: translateY(0);
    /* class on 적용 되었을 때 적용되도록 한다 */
}
.news__item:not(:nth-child(3n - 1)) {
    transform: translateY(-50%);
}
.news__item:nth-child( n + 4 ) {
    margin-top: 20px;
}
.news__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    z-index: 10;
    transition: 0.4s;
    
    opacity: 0;
}
.news__item:hover::after {
    opacity: 1;
}


/* channel section - start */
.channel {
    margin-top: 200px;
}
.channel > .inner {
    text-align: center;
}
.channel__title {
    padding-bottom: 40px;
    border-bottom: 1px solid #222;
}
.channel__container {
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid #222;
}
.channel__container::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    width: 1px;
    height: calc(100% - 60px);
    background-color: #ccc;
}
.channel__item {
    position: relative;
    align-self: center;
    width: 50%;
}
.channel__item:nth-child(1):after,
.channel__item:nth-child(2):after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 600px;
    height: 1px;
    background-color: #222;
}
.channel__item--title:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 600px;
    height: 1px;
    background-color: #ccc;
}
.channel__item--title {
    position: relative;
    height: 113px;
    line-height: 113px;
}
.channel__item--title > img {
    vertical-align: middle;
    transform: scale(1);
    transition: .4s;
}
.item__container {
    display: block;
    vertical-align: bottom;
    margin: 60px 85px 100px;
}
.channel__desc {
    display: inline-block;
    margin-top: 47px;
    font-size: 19px;
    font-weight: 350;
    /* common */
    color: #111;
    text-align: center;
}
/* img hover 시 확대 */
.channel__img {
    width: 360px;
    height: 360px;
    overflow: hidden;
    margin: 0 auto;
}
.channel__img img {
    transform: scale(1);
    transition: .5s;
}
.channel__img:hover img {
    transform: scale(1.1);
}





/* now section - start */
.now__inner {
    padding: 308px 0 320px;
    background: url(../img/hyundaiNow/bg_hyundai_now.png) no-repeat 100% 100%;
}
.now__container {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.now__item {
    /* border: 1px solid #000; */
    height: 640px;
    position: relative;
    overflow: hidden;
}
.now__item > a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity .4s;
}
.now__item > a .now__img--bg {
    transform: scale(1);
    transition: .4s;
}
.now__item > a:hover .now__img--bg {
    transform: scale(1.1);
}
.now__item > a:hover:after {
    opacity: 1;
}
.now__img {
    position: absolute;
    width: 300px;
    top: 418px;
    left: 20px;
    z-index: 10;
}
/* arrow top btn */


/* footer - start */
.footer__container {
    position: relative;
    margin: 0 auto;
    padding-bottom: 88px;
    width: 984px;
}
.footer__up {
    position: relative;
    padding: 16px 192px 16px 0;
    margin-bottom: 28px;
    background: #252525;
}
.footer__up::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 64px;
    left: 50%;
    margin-left: -2560px;
    width: 5120px;
    background-color: #252525;
}
.footer__up > ul {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-between;
}
.footer__up li:hover > a {
    text-decoration-line: underline;
}
.website__link {
    display: block;
    font-weight: bold;
    line-height: 32px;
    font-size: 14px;
    color: #cccccc;
    z-index: 30;
}
.familysite__btn {
    position: absolute;
    z-index: 30;
    top: 16px;
    right: 0;
    width: 172px;
    background-color: #252525;
}
.familysite__btn > a {
    position: relative;
    display: block;
    padding: 0 16px;
    height: 30px;
    line-height: 27px;
    color: 12px;
    color: #cccccc;
    text-decoration: none;
    border: 1px solid #999999;
    font-size: 12px;
}
.familysite__btn > a::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 32px;
    height: 32px;
    background-image: url(../img/footer/footer_family_site.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer__bottom {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: #666;
    border: 1px solid #000;
    line-height: 24px;
    font-size: 12px;
}
.bottom__sns > div {
    position: relative;
}


.sns__icon::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 24px;
    margin-left: -24px;
    background-image: url(../img/footer/footer_sns.png);
    background-repeat: no-repeat;
}
.youtube:after {
    background-position: 0 -96px;
}
.instagram::after {
    background-position: 0 -48px;
}
.facebook:after {
    background-position: 0 0;
}
.blog::after {
    background-position: 0 -72px;
}
.post::after {
    background-position: 0 -120px;
}