@charset "utf-8";
@import url(./reset.css);
@import url(./common.css);

/* header */
.header {
    width: 100%;
    
    
    border-bottom: 1px solid #ccc;
    /* gnb title hover 시 lnb 위에 전체 라인 보이도록 */
}
.header__frame {
    margin: 0 auto;
    width: 984px;
    padding: 36px 0 0 0;
    position: relative;
    z-index: 20;
    background: #fff;
    /* var(--wht-color); */
    
}
.header__top {
    margin: 0 auto;
    text-align: center;
}
.header__menu {
    position: relative;
}
.header__menu--search {
    display: block;
    position: relative;
    width: 21px;
    height: 21px;
}
.header__menu--search > span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    background: url(../img/icon/header_util.png) no-repeat -5px -5px;
}
.header__menu--service {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    font-size: 14px;
}
.header__menu--service > a {
    margin-right: 20px;
}
.header__menu--language > a {
    text-decoration: underline dotted;
}
.language__select {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -24px;
    width: 24px;
    height: 24px;
    background: url(../img/icon/header_util.png) no-repeat 0 -24px;
}
/* header top/logo - end */

/* gnb - start */
.gnb__frame {
}
.gnb {
}
.gnb__navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.gnb__item {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #666;
    transition: all .3s;
}
/* gnb hover 시 이벤트 */
.gnb__navbar:hover ~ .lnb__frame > div {
    display: flex;
}
.lnb__frame > div:hover {
    display: flex;
}
.gnb__item:hover {
    color: #222;
}
.gnb__item a:after {
    content : '';
    position: absolute;
    height: 2px;
    bottom: 0;
    width : 0;
    transition: .3s;
    left : 50%;
    transform: translateX(-50%);
    background: #111;
}
.gnb__item a:hover:after {
    width: 100%;
}
.gnb__item > a {
    height: 72px;
    line-height: 72px;
    font-size: 18px;
    font-weight: 600;
}
/* lnb - start */
.lnb__frame {
}
.lnb {
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 984px;
    height: 240PX;
    top: 72px;
    margin: 0 auto;
    z-index: 100;
    background: #fff;
}
.lnb__item {
    padding-top: 14px;
    width: 100%;
    margin-right: 20px;
    flex: 1;
}
.lnb__item:nth-child(1) {
}
.lnb__item:nth-child(2) {
}
.lnb__item:nth-child(3) {
}
.lnb__img > img {
    width: 100%;
}
/* bland img 특수 경우 */
.lnb__img > .flex {
    flex-direction: column;
}
.lnb__content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    color: #666;
    margin-top: 10px;
}
.lnb__content > a {
    font-size: 14px;
    /* common font- size로 */
    margin-right: 5px;
    margin-top: 5px;
}
.lnb__content > a:hover {
    text-decoration: underline;
}

/* arrow top btn */
.arrow__top {
    position: fixed;
    z-index: 30;
    right: 20px;
    bottom: 20px;
    /* visibility: hidden; */
}
.arrow__top > a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    background-image: url(../img/icon/bg_panels.png);
    background-repeat: no-repeat;
    background-position: 0 -96px;
}
.visible {
    /* transition: all 1s; */
    /* visibility: visible; */
}

/* contents wrap */
.contents__container {
}
/* main section - start */
.main {
    overflow: hidden;
}
.main__banner img {
    text-align: center;
    max-width: 100%;
    height: 600px;
    /* 본 홈페이지 사이즈와 차이 있음!!!!!!!!!!! */
    /* 줄일 때 같이 줄어든다  */
}
/* news section - start */
.news {
    overflow: hidden;
    z-index: 10;
}
.news__inner {
    position: relative;
    min-height: 1162px;
    padding-top: 150px;
}
.left__magazine {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 20;
}
.right__news {
    margin-left: 430px;
    width: 850px;
}
.news__title {
    position: absolute;
    top: 120px;
    left: 430px;
    width: 100%;
    padding-bottom: 38px;
    color: #fff;
    background: #fff;
    text-align: left;
    z-index: 20;
}
.fixed {
    position: fixed;
    top: 0;
    left: 430px;
}

.news__list {
    /* margin-left: -40px; */
    font-size: 0;
    margin-top: 293px;
    /* margin-top: 93px; */
    /* 원본 */
}
.news__list > a {
    position: relative;
}
.news__item {
    display: inline-block;
    position: relative;
    width: calc((100% - 40px) / 3);
    margin-left: 20px;
    transition: transform .6s;
}
.news__item:nth-child(3n + 1) {
    margin-left: 0;
}
.news__item:not(:nth-child(3n - 1)) {
    transform: translateY(0);
    /* class on 적용 되었을 때 적용되도록 한다 */
}
.news__item:not(:nth-child(3n - 1)) {
    transform: translateY(-50%);
}
.news__item:nth-child( n + 4 ) {
    margin-top: 20px;
}
.news__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    z-index: 10;
    transition: 0.4s;
    
    opacity: 0;
}
.news__item:hover::after {
    opacity: 1;
}


/* channel section - start */
.channel {
    margin-top: 200px;
}
.channel > .inner {
    text-align: center;
}
.channel__title {
    padding-bottom: 40px;
    border-bottom: 1px solid #222;
}
.channel__container {
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid #222;
}
.channel__container::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    width: 1px;
    height: calc(100% - 60px);
    background-color: #ccc;
}
.channel__item {
    position: relative;
    align-self: center;
    width: 50%;
}
.channel__item:nth-child(1):after,
.channel__item:nth-child(2):after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 600px;
    height: 1px;
    background-color: #222;
}
.channel__item--title:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 600px;
    height: 1px;
    background-color: #ccc;
}
.channel__item--title {
    position: relative;
    height: 113px;
    line-height: 113px;
}
.channel__item--title > img {
    vertical-align: middle;
    transform: scale(1);
    transition: .4s;
}
.item__container {
    display: block;
    vertical-align: bottom;
    margin: 60px 85px 100px;
}
.channel__desc {
    display: inline-block;
    margin-top: 47px;
    font-size: 19px;
    font-weight: 350;
    /* common */
    color: #111;
    text-align: center;
}
/* img hover 시 확대 */
.channel__img {
    width: 360px;
    height: 360px;
    overflow: hidden;
    margin: 0 auto;
}
.channel__img img {
    transform: scale(1);
    transition: .5s;
}
.channel__img:hover img {
    transform: scale(1.1);
}





/* now section - start */
.now__inner {
    padding: 308px 0 320px;
    background: url(../img/hyundaiNow/bg_hyundai_now.png) no-repeat 100% 100%;
}
.now__container {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.now__item {
    /* border: 1px solid #000; */
    height: 640px;
    position: relative;
    overflow: hidden;
}
.now__item > a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity .4s;
}
.now__item > a .now__img--bg {
    transform: scale(1);
    transition: .4s;
}
.now__item > a:hover .now__img--bg {
    transform: scale(1.1);
}
.now__item > a:hover:after {
    opacity: 1;
}
.now__img {
    position: absolute;
    width: 300px;
    top: 418px;
    left: 20px;
    z-index: 10;
}
/* arrow top btn */


/* footer - start */
.footer {
    overflow: hidden;
}
.footer__container {
    position: relative;
    margin: 0 auto;
    padding-bottom: 88px;
    width: 984px;
    font-size: 12px;
}
.footer__up {
    position: relative;
    padding: 16px 192px 16px 0;
    margin-bottom: 28px;
    background: #252525;
}
.footer__up::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 64px;
    left: 50%;
    margin-left: -2560px;
    width: 5120px;
    background-color: #252525;
}
.footer__up > ul {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-between;
}
.footer__up li:hover > a {
    text-decoration-line: underline;
}
.website__link {
    display: block;
    font-weight: bold;
    line-height: 32px;
    font-size: 14px;
    color: #cccccc;
    z-index: 30;
}
.familysite__btn {
    position: absolute;
    z-index: 30;
    top: 16px;
    right: 0;
    width: 172px;
    background-color: #252525;
}
.familysite__btn > a {
    position: relative;
    display: block;
    padding: 0 16px;
    height: 30px;
    line-height: 27px;
    color: 12px;
    color: #cccccc;
    text-decoration: none;
    border: 1px solid #999999;
    font-size: 12px;
}
.familysite__btn > a::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 32px;
    height: 32px;
    background-image: url(../img/footer/footer_family_site.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer__bottom {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: #666;
    line-height: 24px;
    font-size: 12px;
    line-height: 24px;
}
.bottom__sns > div {
    position: relative;
    margin-bottom: 6px;
}
.sns__icon::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 24px;
    margin-left: -28px;
    background-image: url(../img/footer/footer_sns.png);
    background-repeat: no-repeat;
}
.youtube:after {
    background-position: 0 -96px;
}
.instagram::after {
    background-position: 0 -48px;
}
.facebook:after {
    background-position: 0 0;
}
.blog::after {
    background-position: 0 -72px;
}
.post::after {
    background-position: 0 -120px;
}
.info__certification {
    margin-top: 20px;
}
.info__certification > a {
    display: inline-block;
}
.info__certification img {
    height: 40px;
}
.copyright {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    transform: translateY(200%);
    color: #666666;
}
